<h1 class="title">Reports of <%="#{@employee.first_name} #{@employee.last_name}"%></h1>
<div class="row">
  <div class="col-xs-3">
    <label>From</label>
    <div class="input-group date">
      <input type="text" class="form-control" id="from">
      <div class="input-group-addon">
        <span class="fa fa-calendar"></span>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <label>To</label>
    <div class="input-group date">
      <input type="text" class="form-control" id="to">
      <div class="input-group-addon">
        <span class="fa fa-calendar"></span>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <i class="fa fa-clock-o"></i>
    <input type="radio" name="options" id="option1" val="1" class="arrival_report" autocomplete="off" checked> Arrivals and Departures
  </label>
  <label class="btn btn-primary">
    <i class="fa fa-calendar-o"></i>
    <input type="radio" name="options" class="days_not_worked" id="option2" val="2" autocomplete="off"> Days Not Worked
  </label>
</div>
<div id="tbl_section"></div>
<input type="hidden" name="employee_id" id="employee_id" value="<%=@employee.id%>">
<input type="hidden" name"option_report" id="option_report">
<%=javascript_include_tag 'arrival_time_report' %>
